.App {
  text-align: center;
}

body {
  background-color: rgb(58,54,101);
  color: white;
}

.movies {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movies div {
  width: 200px;
  margin: 10px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255)
}
